body{
padding: 8px 29px;
max-width: 800px;
margin: auto;
}
h1{
  text-align: center;
  color: white;
  background-color: #a52a2a;
  font-size: 21px;
}
.car{
  text-align: center;
}
.bolt{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.blue{
  color:blue;
}
.car img{
  border: 3px dashed black;
}
footer{
  text-align: center;
  color: white;
  background-color: black;
}