@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
  background-color: #121116;
  width: 1200px;
}
.Logo{
  margin-top: 120px;
  text-align: center;
  margin-bottom: 51px;
}
.social{
  font: 20px 'Open Sans';
  color: #fefbfc;
  text-align: center;
}
.line{
  width: 230px;
  height: 1px;
  margin: 0 auto;
  background-color: #fefbfc;
}
.link{
  text-align: center;

}
.link img{
    margin: 21px 18px;
}
footer{
  margin-top: 90px;
  text-align: center;
  font-size: 15px;
  color: #fefbfc;
  font: 15px 'Open Sans';
}
.blue{
  color: #19c8fa;
}